div .info_container{
    position: fixed;
    top: 79%;
    left: 88%;
    cursor: pointer;
}
button.info {
    border: none;
    color: #ffffff1f;
    font-size: 30px;
}
button.info:hover{
    color: #80F88D;
}
@media (max-width: 480px){
    div .info_container{
        display: flex;
        position: relative;
        top: 45px;
    }
}