html{
    overflow: auto;
}
div.container_repo{
    min-height: 100vh;
    margin-top: 8%;
}
ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 680px));
    gap: 10px;
    text-align: center;
    justify-content: center;
}
.card_repo h2{
    padding: 2%;
}
.card_repo p{
    padding: 0.5%;
}
div.card_repo{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
}
.portfolio_repo{
  position: fixed;
  top: 20%;
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
}
.portfolio_repo img{
  width: 100%;
  height: 100%;
}
div.card_repo,
div.card_repo li,
div.card_repo h2,
div.card_repo p, 
div.card_repo a{
    background-color: #28292c;
}
div.card_repo hr{
    opacity: 0.1;
}