.App {
  width: 100vw;
  height: 100vh;
  color: white;
}

.icons{
  display: flex;
  margin-top: 15px;
  padding-top: 15px;
  align-items: center;
  justify-content: center;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.icon_css,
.icon_html,
.icon_js,
.icon_react,
.icon_vue,
.icon_git{
  font-size: 50px;
  padding: 0px 0px 0px 75px;
  animation: float 6s ease-in-out infinite;
}

.App-logo {
  width: 35vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_git{
  color: rgb(243, 48, 13);
  display: block;
  z-index: 10;
}
.icon_vue{
  color: rgb(14, 102, 14);
  display: block;
  z-index: 7;
}
.icon_react{
  color: rgb(34, 10, 247);
  display: block;
  z-index: 7;
}

.icon_js{
  color: yellow;
  display: block;
  z-index: 6;
}

.icon_css{
  color: rgb(7, 11, 252);
  display: block;
  z-index: 9;
}

.icon_html{
  color: rgb(252, 56, 7);
  display: block;
  z-index: 8;
}

.portfolio{
  position: absolute;
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
}
.portfolio img{
  width: 100%;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 9s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-20px)
	}
}
