.App {
  width: 100vw;
  height: 100vh;
  color: white;
}

.icons{
  display: flex;
  margin-top: 10%;
  padding: 5%;
  align-items: center;
  justify-content: center;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
}

.icon_css,
.icon_html,
.icon_js,
.icon_react,
.icon_vue,
.icon_git{
  font-size: 50px;
  padding: 0px 0px 0px 75px;
  animation: float infinite 5s linear;
}

.image{
  animation: float infinite 4s linear;
}
.App-logo {
  width: 20vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_git{
  color: rgb(243, 48, 13);
  display: block;
}
.icon_vue{
  color: rgb(14, 102, 14);
  display: block;
}
.icon_react{
  color: rgb(34, 10, 247);
  display: block;
}

.icon_js{
  color: yellow;
  display: block;
}

.icon_css{
  color: rgb(7, 11, 252);
  display: block;
}

.icon_html{
  color: rgb(252, 56, 7);
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 35s both;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-20px)
	}
}

