.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: white;
}

div .icon_github{
  position: absolute;
  left: 40%;
  top: 20%;
  z-index: 1;
}
div .icon_linkedin{
  position: absolute;
  left: 55%;
  top: 20%;
  z-index: 2;
}
div .icon_github,
div .icon_linkedin{
  font-size: 50px;
}

.App-logo{
  margin-top: 12%;
  pointer-events: none;
  z-index: 4;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s alternate-reverse;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-40deg);
  }
  to {
    transform: rotate(40deg);
  }
}
